<div class="container my-5">
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-md-4 mb-4">
        <%= render partial: "shared/article_card", locals: { blog: blog } %>
      </div>
    <% end %>
  </div>
</div>