<div class="container mt-5">
  <h1 class="mb-4">Create a New Blog Post</h1>

  <%= render 'form', blog: @blog %>

  <%= link_to 'Cancel', blogs_path, class: 'btn btn-secondary mt-3' %>
</div>

<%= content_for :javascript do %>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
<% end %>