<footer class="text-center mt-5 pt-4">
  <p>Follow us on 
    <%= link_to "Twitter", "https://x.com/StartUpsOnRails", target: "_blank", rel: "noopener noreferrer", class: "warm-color" %>
    , 
    <%= link_to "LinkedIn", "https://www.linkedin.com/company/76638286/admin/feed/posts/", target: "_blank", rel: "noopener noreferrer", class: "warm-color" %> 
    to stay updated on the latest news and events.
  </p>
</footer>