<div class="bg-primary text-light row justify-content-center align-items-center py-lg-5 text-center bg-header">
  <div class="col-md-6">
    <h1 class="red-ruby-text text-white fw-light mb-1">Discover the Power of Ruby on Rails</h1>
    <p class="lead text-body-secondary fw-bold mb-1">Explore the world’s top apps built on Ruby on Rails. From single-owner startups to industry giants, dive into detailed profiles, tech stacks, and more.</p>
  </div>
</div>