<header class="bg-light-gradient py-5">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h1 class="display-4 fw-light mb-3">Unveil the Magic of <span class="fw-bold text-primary">Ruby on Rails</span></h1>
        <p class="lead text-muted mb-4">Discover how the world's most innovative apps harness the power of Rails. From startups to tech giants, explore their journeys and tech stacks.</p>
      </div>
    </div>
  </div>
</header>