<section class="d-flex align-items-center py-10 bg-auto hero-graphics-gradient hero-graphics hero-graphics-fullscreen" style="min-height: 50vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="py-8 py-lg-0 text-center">
                    <p class="mb-6 text-dark head-title ">
                        Your Ultimate Resource for Rails-Based Tech, Products, and Companies
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>