<header class="bg-light-gradient py-5">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h1 class="display-4 fw-light mb-3">Discover the Power of <span class="fw-bold text-primary">Ruby on Rails</span></h1>
        <p class="lead text-muted mb-4">Explore the world's top apps built on Ruby on Rails. From single-owner startups to industry giants, dive into detailed profiles, tech stacks, and more.</p>
        <%= link_to "Browse Companies", companies_path, class: "btn btn-primary btn-lg fw-bold px-5 py-3 mt-3" %>
      </div>
    </div>
  </div>
</header>