<main class="my-3 p-3">
  <section class="mb-5 container-fluid">
    <div class="row py-lg-5 header-section-content">
      <h1 class="display-2 mb-4">StartupsOnRails</h1>
      <h4 class=" mb-4">Find out which companies are built on Ruby on Rails and support its thriving community.</h4>
    </div>
  </section>

  <!--Listing section -->
  <section class="">
    <% @companies_by_category.each_slice(4).with_index do |category_slice, index| %>
      <div class="row mt-5"> <!-- mt-4 gives margin-top for spacing between rows -->
        <% category_slice.each do |category_name, companies| %>
          <div class="col-md-3"> <!-- col-md-3 ensures 4 categories per row -->
            <h5><%= category_name.titleize %></h5>
            <ul class="list-group">
              <% companies.take(5).each do |comp| %>
                <li class="list-group-item"> <%= link_to comp.name, company_path(comp) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <!-- End of listing section -->
</main> 