<div class="row company  text-body-secondary pt-3">

</div>

<div class="card">
  <div class="row g-0 card-body">

    <div class="col-1">
        <%= generate_svg_with_initials(company.name) %>
    </div>

    <div class="col-11">
      <div class="pb-3 mb-0  ms-2 ">
        <div class="fs-4"><%= link_to company.name, company_path(company)  if company.name %></div>
        <p class="fs-5"><%= company.about %></p> 
      </div>
    </div>
  </div>
</div>