<div class="row">
  <div class="col-sm-3">
    <p class="mb-0">Full Name</p>
  </div>
  <div class="col-sm-9">
    <p class="text-muted mb-0"><%= company.email %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <p class="mb-0">Email</p>
  </div>
  <div class="col-sm-9">
    <p class="text-muted mb-0"><%= company.url %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <p class="mb-0">Address</p>
  </div>
  <div class="col-sm-9">
    <p class="text-muted mb-0"><%= company.location %></p>
  </div>
</div>
