<div class="row company  text-body-secondary pt-3">

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3" style="">
        <div class="card-body">
            <div class=" mr-2">
              <%= generate_svg_with_initials(company.name) %>
            </div>
            <div class=" ml-5">
              <p class="pb-3 mb-0 small  ">
                <strong class="d-block text-gray-dark"><%= link_to company.name, company_path(company)  if company.name %></strong> <br>
                
                <%= company.about %>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
