<section class="py-8 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-12">
        <div class="mb-4">
          <h1 class="fw-bold mb-1">Discover Best Places to Work!</h1>
          <p>Company reviews. Salaries. Interviews. Jobs.</p>
        </div>
        <div class="bg-white rounded-md-pill me-lg-8 shadow rounded-3">
          <!-- card body -->
          <div class="p-md-2 p-4">
            <!-- form -->
            <div data-controller="autocomplete" class="row g-1">
              <!-- Job Title field -->
              <div class="col-12 col-md-5">
                <div class="input-group mb-2 mb-md-0 border-md-0 border rounded-pill">
                  <span class="input-group-text bg-transparent border-0 pe-0 ps-md-3 ps-md-0" id="searchJob">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                  </span>
                  <input data-autocomplete-target="input" data-action="keyup->autocomplete#search" type="search" placeholder="Search companies..." class="form-control rounded-pill border-0 ps-3 form-focus-none" aria-label="Search companies" aria-describedby="searchJob">
                </div>
              </div>

              <!-- Location field (optional, remove if not needed) -->
              <div class="col-12 col-md-4">
                <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                  <span class="input-group-text bg-transparent border-0 pe-0 ps-md-0" id="location">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                  </span>
                  <input type="search" class="form-control rounded-pill border-0 ps-3 form-focus-none" placeholder="Location" aria-label="Location" aria-describedby="location">
                </div>
              </div>

              <div class="col-12 col-md-3 text-end d-grid">
                <button type="button" class="btn btn-primary rounded-pill" onclick="document.querySelector('[data-action=keyup]->autocomplete#search').dispatchEvent(new Event('keyup'));">Search</button>
              </div>

              <ul data-autocomplete-target="results" class="list-group"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4 mb-md-0">
        <%= render 'sidebar' %>
      </div>
      <div class="col-md-8 order-md-1">
        <%= render 'list', companies: @companies, pagy: @pagy %>
      </div>
    </div>
  </div>
</section>